@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
html,
body {
  color: #54504e;
  font-family: "Lato", sans-serif;
  margin: 0;
}
span {
  font-family: "Lato", sans-serif;
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

/* form {
  background-color: #dbd5d5;
  width: 30%;
  height: 250px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
} */

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in,
.log-out,
.register {
  font-family: "Lato", sans-serif;
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: #f36359;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 5px 20px;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
  transition: all 300ms;
}
.scoreContainer {
  text-align: center;
  padding: 40px;
}

/* .registerButton {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 40%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
} */
/* .registerInput {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #bab6b4;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 15px;
} */
.register-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  text-align: left;
  align-items: center;
}
.register-form input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #bab6b4;
  padding: 5px;
  font-size: 1em;
  margin-bottom: 15px;
}
.register-form input:focus {
  outline: none;
  border-bottom: 2px solid #f36359;
}
.register-form-button {
  margin: 20px auto;
  background: #4b4a47;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  cursor: pointer;
  transition: all 300ms;
}
.register-form-button:hover {
  background: #f25146;
}
.register-form-button:focus {
  outline: none;
}
.button-ghost {
  background: transparent;
  color: #f36359;
  border: 2px solid #f25146;
}
.button-ghost:hover {
  color: #ffffff;
}
.card {
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  z-index: 99;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}
.container {
  margin: 60px auto;
  text-align: center;
  border: 0.9px solid black;
  border-radius: 4px;
  width: 40%;
  padding: 50px;
}
.homeWelcome {
  margin-left: 120px;
  margin-top: 70px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.75em;
}
.gitHubSearchContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}
.apiSearchInput {
  width: 600px;
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 25px;
  background: transparent;
  font-size: 16px;
}
.apiSearchInput:hover {
  font-family: "Lato", sans-serif;
  /* font-weight: 400; */
  width: 600px;
  /* box-sizing: border-box; */
  border: 1px solid #ccc;
  /* -webkit-transition: 0.5s; */
  transition: 0.5s;
  /* outline: none; */
}
input[type="text"] {
  outline: none;
}
.apiResults {
  margin: auto;
}
.repoContainer {
  width: 80%;
  border-left: 0.6px solid black;
  border-bottom: 0.5px solid black;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.repoContainer h2:hover {
  font-size: 1.5em;
  cursor: pointer;
  color: thistle;
  font-weight: bold;
}
.resultsContainer {
  display: flex;
  justify-content: center;
}

.gitHubCard {
  margin: 30px auto;
  padding: 50px;
  width: 400px;
  line-height: 1.6;
  /* border: 0.5px solid black; */
  /* border-left: 0.6px solid black;
  border-bottom: 0.5px solid black; */
  border-radius: 10px;
  overflow-wrap: break-word;
  text-align: center;
}
.repoGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 20px;
  grid-template-rows: auto;
}
.pageTwoHeader {
  margin-left: 150px;
}
.avatar {
  vertical-align: middle;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 15px;
}
.lessonContainer {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.avatarWithTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.welcome {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
.QuestionOneBtns {
  display: flex;
  justify-content: space-evenly;
}
table {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
}

td,
th {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border: 0.6px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
  background-color: #f8eded;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.commentContainer textarea {
  margin: 15px;
  height: 75px;
  border-radius: 8px;
}

.historyDelete {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 20px auto;
  background: #a09f9c;
  border: none;

  color: #ffffff;
  padding: 5px 10px;

  letter-spacing: 1px;
  font-weight: 100;
  cursor: pointer;
  transition: all 300ms;
}
.historyDelete:hover {
  background: #f25146;
}

.commentContainer button {
  width: 80px;

  margin: 20px auto;
  background: #4b4a47;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 10px;

  letter-spacing: 1px;
  font-weight: 100;
  cursor: pointer;
  transition: all 300ms;
}
.comment-button:hover {
  background: #f25146;
}
.comment-button:focus {
  outline: none;
}
.button-ghost {
  background: transparent;
  color: #f36359;
  border: 2px solid #f25146;
}
.button-ghost:hover {
  color: #ffffff;
}
.historyTitle {
  margin: 20px;
  padding: 30px;
  text-align: center;
}
.historyTitle h1 {
  border-bottom: 0.5px solid black;
  display: inline-block;
  padding-bottom: 15px;
  font-weight: 300;
}

.scoreContainer {
  text-align: center;
  padding-top: 200px;
}
.historyTable tr th {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 18px;
}

.repositoryContainer {
  width: 80%;
  margin: 20px auto;
}
.register-form-button-score {
}
.historyTableWrapper {
  width: 90%;
  margin: 30px auto;
}
