@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
.nav-title {
  font-size: 34px;
  font-weight: 300;
  display: inline-block;
  color: #f2f2f2;
  padding-left: 10px;
  margin-left: 40px;
}

.nav {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background-color: #1e2d3f;
  height: 40%;
  position: relative;
}

.nav-link {
  font-family: "Lato", sans-serif;
  float: left;
  font-weight: 100;
  color: #f2f2f2;
  background-color: #122f52;
  text-align: center;
  padding: 7px 14px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 55px;
  border-radius: 10px;
  margin-top: 20px;
  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: 0.3px solid rgb(117, 90, 90); */
  cursor: pointer;
  outline: 0;
  box-shadow: none;
}
h4 {
  color: white;
  display: inline-block;
  position: absolute;
  right: 60%;
  top: 10%;
  font-size: 18px;
}

.nav-link:hover {
  background-color: #1f344d;
  font-weight: 300;
}

.nav-right {
  float: right;
}
